<div class="button-group" role="group" [attr.aria-label]="label">
  <label class="me-4">{{ label }}</label>
  <input type="radio" class="btn-check" [attr.id]="id + '-yes'" [attr.name]="id" [attr.checked]="value === options.YES" (change)="activate(options.YES)">
  <label class="btn btn-light rounded-end-0" [attr.for]="id + '-yes'">Sim</label>

  <input type="radio" class="btn-check" [attr.id]="id + '-no'" [attr.name]="id" [attr.checked]="value === options.NO" (change)="activate(options.NO)">
  <label class="btn btn-light rounded-start-0" [attr.for]="id + '-no'">Não</label>
</div>